@import url('https://fonts.cdnfonts.com/css/granjon-lt');

body {
    font-family: "Granjon LT";
}

header {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    justify-content: space-around;
    height: 4rem;
    padding: 20px;
}

header .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    overflow: visible;
    border-radius: 10px;
}

.dropdownItem {
    display: flex;
    padding: 20px;
    font-size: 1px;
}

main {
    background-color: black;
    height: 60vh;
}